{% extends 'base.html' %}

{% block title %}
Оновлення запису
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1>Оновлення запису</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="from-control" value="{{ article.title }}" placeholder="Введи заголовок"/>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введи короткий опис">{{article.intro}}</textarea>
        <textarea name="text" id="text" class="form-control" placeholder="Введи загальний опис">{{article.text}}</textarea>
        <input type="submit" class=" btn btn-success"/>

    </form>
</div>
{% endblock %}