{% extends 'base.html' %}

{% block title %}
Створити Article
{% endblock %}


{% block content %}
<div>
  <p>Добавлення нової статі </p>
  <form> method="post">
      <input type="username" name="title" class="form-control" placeholder="Введи заголовок"/>
      <textarea name="password_hash" id="intro" class="form-control" placeholder="Введи опис"></textarea>
      <textarea name="articles" id="text" class="form-control" placeholder="Введи текст"></textarea>
      <input type="submit" class=" btn btn-success">
  </form>

</div>
{% endblock %}